In [1]:
from warnings import filterwarnings 
filterwarnings("ignore")

import pandas as pd
import numpy as np

In [2]:
pa_realtor_data_df = pd.read_csv('Pennsylvania-realtor-data.csv')
pa_realtor_data_df["prev_sold_year"] = pd.to_datetime(pa_realtor_data_df["prev_sold_date"], format='%Y-%m-%d').dt.year

In [3]:
realtor_data_df = pa_realtor_data_df[(pa_realtor_data_df["prev_sold_year"] > 2015.0) &
                                     (pa_realtor_data_df["state"].isin(["Pennsylvania"])) &
                                     (pa_realtor_data_df["status"] == "for_sale") 
                                    ]
realtor_data_df.drop(columns=["prev_sold_year"],inplace=True)
realtor_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2475 entries, 7 to 9545
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      2475 non-null   int64
 1   status          2475 non-null   object
 2   bed             2387 non-null   float64
 3   bath            2281 non-null   float64
 4   acre_lot        2254 non-null   float64
 5   city            2475 non-null   object
 6   state           2475 non-null   object
 7   zip_code        2475 non-null   float64
 8   house_size      2372 non-null   float64
 9   prev_sold_date  2475 non-null   object
 10  price           2475 non-null   float64
dtypes: float64(6), int64(1), object(4)
memory usage: 232.0+ KB

In [4]:
zipcodes = realtor_data_df["zip_code"]
len(zipcodes.unique())

162

In [5]:
zip_lon_lat = pd.read_csv('../../../zip_lat_long.csv')
zip_lon_lat.head()

   ZIP        LAT        LNG
0  601  18.180555 -66.749961
1  602  18.361945 -67.175597
2  603  18.455183 -67.119887
3  606  18.158345 -66.932911
4  610  18.295366 -67.125135

In [7]:
merged_df = zip_lon_lat[zip_lon_lat["ZIP"].isin(zipcodes.unique())]

In [8]:
merged_df

        ZIP        LAT        LNG
5204  16914  41.854230 -76.783664
5211  16925  41.948556 -76.783808
5616  18013  40.848762 -75.177293
5658  18077  40.570065 -75.237114
5715  18301  41.042703 -75.175581
...     ...        ...        ...
6062  19355  40.046452 -75.532998
6073  19382  39.927665 -75.613166
6083  19428  40.080337 -75.300461
6090  19444  40.087755 -75.253168
6097  19462  40.115345 -75.281990

[162 rows x 3 columns]

In [ ]:
merged_df.to_csv('pa_zip-lon-lat.csv')